<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no"/>
        <meta name="format-detection" content="email=no"/>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" name="viewport">
        <title>摇太阳</title>
        <link rel="stylesheet" type="text/css" href="/css/client.css" />
        <script src="/js/socket.io.js"></script>
    </head>
    <body>
        <div class="main">
            <img src="/img/shake.gif" class="shake-img">
        </div>
        <div class="mask">
            <div class="center">
                <input type="text" placeholder="输入姓名" id="user_name" class="input-name" />
                <input class="button blue" type="button" value="进入房间" id="enter">
            </div>
        </div>
        
        <script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="/js/shake.js"></script>
        <script type="text/javascript" src="/js/client.js"></script>
    </body>
</html>